language: python

os: linux
arch:
  - amd64
  - arm64

python:
    - "3.6"
    - "3.7"
    - "3.8"

git:
    submodules: true

cache:
    pip

compiler:
  - clang
  - gcc

install:
    - pip install --upgrade pip setuptools wheel
    - pip install -r requirements.txt
    - python setup.py build_cmake

script:
    - python setup.py test

