language: python

os: linux
arch:
  - amd64

python:
    - "3.6"
    - "3.7"
    - "3.8"

git:
    submodules: true

cache:
    pip


install:
    - pip install --upgrade pip setuptools wheel
    - pip install -r requirements.txt

script:
    - python setup.py test

deploy:
    provider: script
    script: build-scripts/deploy.sh
    on:
        tags: true

